{% load nuit %}
{% extend 'demo/base.html' rightmenu=True %}

{% block title %}Forms{% endblock %}

{% block breadcrumbs %}
{{block.super}}
{% menu_item name='Forms' link=request.path %}
{% endblock %}

{% block content %}

    {% set_active_menu 'forms' %}

    <h1>Forms</h1>

    <form method='post' action=''>
        {% foundation_form form %}
            name {'medium': 4,}; address {'prefix': 'Pre', 'prefix_medium': 6, 'prefix_large': 0}
            city; state_province; country {'postfix': 'Post', 'postfix_small': 6, 'postfix_medium': 0}
            website {'prefix': 'Pre'}; sleazy {'medium': 2, 'switch': True, 'switch_class': 'round small'}
        {% end_foundation_form %}
        <button class='button small-only-expand'>Submit</button>
    </form>

    <h2>Manual Form</h2>

    <form>
        <div class='row'>
            <div class='medium-3 columns'>
                <label class='medium-right medium-inline' for='foo'>Foo</label>
            </div>
            <div class='medium-9 columns'>
                <input type='text' name='foo' id='foo' />
            </div>
        </div>
    </form>

{% endblock %}

{% block right_menu %}

{% menu_section "Bob" %}

    <form method='post' action=''>
        <button class='button'>Submit</button>
    </form>

{% end_menu_section %}

{% endblock %}
