{% load nuit %}
{% extend 'nuit/generic/list.html' base='demo/base.html' rightmenu=False topbar=True leftmenu=True search_verb='Filter' breadcrumbs=True %}

{% block title %}Publishers{% endblock %}

{% block breadcrumbs %}
{{block.super}}
{% menu_item name='Publishers' link='/publishers/' %}
{% endblock %}

{% block content %}
{{block.super}}
{% set_active_menu "infmis2" %}
{% endblock %}

{% block right_menu %}

{% menu_section is_list=True %}
{% url 'publishers_add' as publisher_form %}
{% menu_item name='Add New Publisher' link=publisher_form %}
{% end_menu_section %}

{{block.super}}

{% endblock %}