{% load nuit %}
{% extend 'nuit/generic/list.html' base='demo/base.html' rightmenu=False topbar=True leftmenu=True search_verb='Filter' %}

{% block title %}Publishers{% endblock %}

{% block left_menu %}
{{block.super}}
{% include 'nuit/includes/loader.html' with size=16 %}
{% include 'nuit/includes/loader.html' with size=32 %}
{% include 'nuit/includes/loader.html' with size=48 %}
{% include 'nuit/includes/loader.html' with size=64 %}
{% include 'nuit/includes/loader.html' with size=80 %}
{% include 'nuit/includes/loader.html' with size=96 %}
{% endblock %}

{% block content %}

{% include 'nuit/includes/loader.html' with size=32 %}
{{block.super}}
{% set_active_menu "infmis2" %}

{% endblock %}
