{% load static %}
{% load compress %}
{% load nuit %}
<!doctype html>

<html class='no-js' lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{% block title %}Home{% endblock %}{% if nuit_app_title %} - {{page_title|default:nuit_app_title}}{% else %} - {{page_title|default:'Nuit'}}{% endif %}</title>

    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'app.scss' %}' />
    {% endcompress %}

    <link rel='stylesheet' type='text/css' href='{% static 'icons/foundation-icons.css' %}' />

    {% compress css %}
        {% block css %}
        {% endblock css %}
    {% endcompress %}

    <script src='{% static 'js/vendor/modernizr.js' %}'></script>

</head>
<body>

    {% if nuit_topbar %}
    {% include 'nuit/includes/_top_bar.html' %}
    {% endif %}

    <section role='main'>
    <div class='clearfix container'>
        {% if nuit_leftmenu %}
        <div class='sidebar on-left hide-for-small-only'>
            {% block left_menu %}{% endblock %}
        </div>
        {% endif %}
        {% if nuit_rightmenu %}
        <div class='sidebar on-right show-for-large-up'>
        {% block right_menu %}{% endblock %}
        </div>
        {% endif %}
        <div class='main'>
            {% if nuit_rightmenu %}
            <a href='#' data-dropdown='right-menu-drop' class='hide-for-large-up actions small secondary radius button dropdown right'><i class='fi-widget size-24'></i></a>
            <ul id='right-menu-drop' data-dropdown-content class='f-dropdown'>
            </ul>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </section>

    <script src='{% static 'js/jquery.js' %}'></script>
    <script src='{% static 'js/foundation.min.js' %}'></script>
    <script>

    function pad_main() {
        var left_width = $('.sidebar.on-left').outerWidth();
        var left_padding = 0;
        if (left_width > 40) {
            left_padding = left_width + 10;
        }
        $('.main').css({
            'paddingLeft': left_padding
        });
    }

    $(window).resize(pad_main);
    pad_main();

    $('.nuit-active-menu').each(function() {
        $('.menu-' + $(this).html()).addClass('active');
    });

    $(document).on('closed', '[data-reveal]', function () {
        var modal = $(this);
        modal.attr('style', '');
    });

    $('.sidebar.on-right > section').each(function() {
        $this = $(this);
        if ($this.data('reveal') == "") {
            $('#right-menu-drop').append("<li><a href='#' data-reveal-id='" + $this.attr('id') + "'>" + $this.data('link') + "</a></li>");
        } else {
            $nav = $this.find('nav');
            if ($nav.length) {
                $nav.find('ul li').each(function() {
                    $li = $(this);
                    $('#right-menu-drop').append($li.clone());
                });
            }
        }
    });

    $('.sidebar.on-left > section').each(function() {
        $this = $(this);
        $nav = $this.find('nav');
        if ($nav.length) {
            $title = $this.find('h5');
            $append_to = $('#left-menu-drop');
            if ($title.length && !$this.hasClass('main-nav')) {
                $new_li = $('<li></li>').addClass('show-for-small-only').addClass('has-dropdown')
                $new_li.append("<a href='#'>" + $title.html() + "</a>");
                $append_to.append($new_li);
                $new_ul = $("<ul class='dropdown'></ul>");
                $new_li.append($new_ul);
                $append_to = $new_ul;
            }
            $nav.find('ul li').each(function() {
                $li = $(this);
                $append_to.append($li.clone().addClass('show-for-small-only'));
            });
            $('#left-menu-drop').append("<li class='show-for-small-only divider'></li>");
        }
    });

    $(document).foundation();

    </script>
    {% block scripts %}
    {% endblock scripts %}
    
</body>

</html>
