{% extends 'nuit/leftmenu-topbar.html' %}
{% load nuit %}

{% block main_content %}

<h1>{% block title %}List of Objects{% endblock %}</h1>

{% if search %}
<div class='show-for-small-only'>
{% include 'nuit/includes/_search_form.html' %}
</div>
{% endif %}

{% block search_query %}{% if search_query %}<p>{{page_obj.paginator.count|default:object_list.count}} result{{page_obj.paginator.count|default:object_list.count|pluralize}} for <cite>{{search_query}}</cite>:</p>{% endif %}{% endblock %}

<ul>
{% for object in object_list %}
    <li>{% if object_link %}<a href='{{object.get_absolute_url}}'>{% endif %}{{object}}{% if object_link %}</a>{% endif %}</li>
{% endfor %}
</ul>

{% if is_paginated %}
{% pagination_menu page_obj %}
{% endif %}

{% endblock %}

{% block left_menu %}
{{block.super}}

{% if search %}
{% menu_section "Search" %}
{% include 'nuit/includes/_search_form.html' %}
{% end_menu_section %}
{% endif %}

{% endblock %}
