@import "custom";

$row-width: 100%;

@import "scss/foundation";
@import "nuit/_mixins";

.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

.container {
    position: relative;
}

.sidebar {

    background-color: rgb(250, 250, 250);
    padding: 20px;
    min-width: 150px;
    max-width: 280px;
    width: 30%;
    margin-bottom: 20px;
    
    &.on-left {
        top: 0;
        left: 10px;
        position: absolute;
    }
    
    &.on-right {
        max-width: 220px;
        top: 0;
        right: 10px;
        position: absolute;
    }

    .side-nav {
        padding-top: 0;
    }
    
    h5, dt {
        margin: 0;
        padding: 2px 0;
        text-transform: uppercase;
        font-size: 0.78rem;
        font-weight: normal;
    }
    
    hr {
        margin-top: 0;
    }

    p, table, dd {
        font-size: 0.8rem;
    }
    
    p, table {
        margin-top: 0.8rem;
    }
    
    table tr td, table tr th {
        font-size: 0.8rem;
    }
    
    .panel {
        padding: 0.8rem;
        margin-top: 0.8rem;
    }
    
    form {
        
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        
        label, input, select, button, .postfix.button {
            font-size: 0.8rem;
        }
        
        select, input[type=text], .postfix.button {
            height: 2rem;
            line-height: 2rem;
        }
        
        button {
            padding: 0.5rem 0.8rem;
            width: 100%;
            margin: 0 0 1rem;
        }
        
    }
    
    li {
        
        margin: 0;
        padding: 0;
        
        &.divider {
            margin: 16px 0;
        }
        
        &.heading {
            padding: 2px 0;
            text-transform: uppercase;
            font-size: 0.78rem;
        }
        
        a {
            padding: 0.33333rem 0;
        }

        p {
            margin-bottom: 0;
        }
        
        &.active {
            & > a:first-child {
                margin: 0 -20px;
                padding-left: 20px;
                padding-right: 20px;
                background: rgba(0, 64, 84, 0.05);
                font-weight: bold;
                color: rgb(0, 143, 186);
            }
        }
        
        &:hover {
            & > a:first-child {
                margin: 0 -20px;
                padding-left: 20px;
                padding-right: 20px;
                color: rgb(0, 104, 135);
                background: rgba(0, 64, 84, 0.03);
            }
        }
    }

    section:last-child hr {
        display: none;
    }

    @media #{$large-up} {
        &.on-right + .main {
            padding-right: 220px;
        }
    }
    
}

@media #{$medium-down} {
    .right-menu-reveal {
        @include reveal-bg;
        @include reveal-modal-base;
        @include reveal-modal-style;
        hr:last-child {
            display: none;
        }
    }
}

.main {
    
    margin-top: 10px;

    h1 {
        font-size: 1.8rem;
    }
    
    .actions.button.dropdown {
        padding: 0.5rem 0.8rem;
    }
    
    .actions:before {
        display: none;
    }
    
}

.pagination-totals {
    font-size: 0.8rem;
    color: $pagination-link-font-color;
}

.nuit-loader {
  
  display: inline-block;
  position: relative;
  
  .nuit-loader-text {
    display: inline-block;
    //font-size: 0.8em;
    margin-top: 0.5em;
  }
  
  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-animation: rotate 2.4s linear infinite;
  }
  
  .dotwrap {
    width: 40%;
    height: 100%;
    position: absolute;  
    left: 50%; 
    margin-left: -20%;
    top: 50%; 
    margin-top: -47%;
    -webkit-animation: smallbig 2.4s linear infinite;
  }
  
  .dot {
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease;
    position: relative;
    font-size: 1.2em;
    line-height: 1;
    -webkit-animation: dots 2.4s linear infinite;
  }
  
  .dotwrap:nth-child(5n+1) {
    -webkit-transform: rotate(0deg);
    .dot { color: rgb(132, 189, 0); }
  }
  .dotwrap:nth-child(5n+2) {
    -webkit-transform: rotate(72deg);
    .dot { color: rgb(234, 170, 0); }
  }
  .dotwrap:nth-child(5n+3) {
    -webkit-transform: rotate(144deg);
    .dot { color: rgb(179, 105, 36); }
  }
  .dotwrap:nth-child(5n+4) {
    -webkit-transform: rotate(216deg);
    .dot { color: rgb(209, 26, 80); }
  }
  .dotwrap:nth-child(5n+5) {
    -webkit-transform: rotate(288deg);
    .dot { color: rgb(81, 8, 100); }
  }
  
}

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate( 0 ); }
  100%{ -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes smallbig {
  50% {  height: 40%;  margin-top: -20%; }
}
@-webkit-keyframes dots {
  50% { opacity: .1; }
  100%{ opacity: .9; }
}

.nuit-loader-size16 {
  @include nuit-loader(16px);
}
.nuit-loader-size32 {
  @include nuit-loader(32px);
}
.nuit-loader-size48 {
  @include nuit-loader(48px);
}
.nuit-loader-size64 {
  @include nuit-loader(64px);
}
.nuit-loader-size80 {
  @include nuit-loader(80px);
}
.nuit-loader-size96 {
  @include nuit-loader(96px);
}

.modal {

    margin-top: 3em;

    @media #{$medium-up} {
        .surround {
            border: 1px solid #ccc;
        }
    }
    .title {
        background-color: $topbar-bg;
        padding: 1em;
        text-align: center;
        margin-bottom: 1em;
    }
    .login {
        .submit {
            text-align: center;
        }
        .nuit-loader {
            margin-bottom: 1em;
            display: none;
        }
    }
    &.error {
        .bullet-item {
            line-height: 1.6em;
        }
    }
}
