<div class='sidebar hide-for-small-only left'>
                    
    {% if NUIT_APP_TITLE %}<h5>{{NUIT_APP_TITLE}}</h5>{% endif %}
                    
    <nav>
        {% with NUIT_APP_MENU as menu %}
        {% with 'side-nav' as menu_class %}
        {% include 'nuit/includes/_menu.html' %}
        {% endwith %}
        {% endwith %}
    </nav>
                    
    <h5>More</h5>
    
    <nav>
        <ul class='side-nav'>
            <li><a href='#'>Some other Link</a></li>
            <li><a href='#'>What's going on here?</a></li>
        </ul>
    </nav>

</div>
