{% load static %}
<nav class='top-bar' data-topbar>
    <ul class='title-area'>
        <li class='name'>
            <h1 class='hide-for-small-only'><a href='#'><img src='{% static 'images/ot-horiz-white.png' %}' /></a></h1>
            <h1 class='show-for-small-only'><a href='#'><img src='{% static 'images/hex.png' %}' /></a></h1>
        </li>
        <li class='toggle-topbar menu-icon'><a href='#'></a></li>
    </ul>

    <section class='top-bar-section'>

        <ul id='left-menu-drop' class='left'>
            {% if nuit_app_title %}<li class='hide-for-small-only divider'></li>
            <li class='hide-for-small-only'><a href='{{nuit_app_url|default:'/'}}'>{{nuit_app_title}}</a></li>{% endif %}

            <li class='show-for-small-only divider'></li>

        </ul>

        <ul class='right'>
            {% if NUIT_APPLICATIONS %}
            <li class='has-dropdown'>
                <a href='#'>Applications</a>
                <ul class='dropdown'>
                    {% with NUIT_APPLICATIONS as applications %}
                    {% include 'nuit/includes/_application_menu.html' %}
                    {% endwith %}
                </ul>
            </li>
            {% endif %}
        </ul>

    </section>
</nav>
